{{ config_context["vty"]["exec-timeout"] }}
{% for x in config_context %}
exec x
{% endfor %}
{% for interface in interfaces %}
{% if 'Loop' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% endif %}
{% endfor %}
{% for interface in interfaces %}
{% if 'Loop' not in interface["name"] %}
{% include "./ios/_physical.j2" %}
{% endif %}
{% endfor %}