{% set start_pattern = '^line vty \\d+.+' %}
{% set end_pattern = '^!$' %}
{% set repeated = True %}
{% set in_block = False %}

{% for line in config.splitlines() %}
  {%- if line is match(start_pattern) %}
    {%- set in_block = True %}
  {%- elif in_block and line is match(end_pattern) %}
    {%- set in_block = False %}
  {%- endif %}
  
  {%- if in_block %}
    {% for vty in config_context["vty"] %}
      {%- if line == 'session-timeout ' + vty["session-timeout"] %}
        session-timeout {{ vty["session-timeout"] }}
      {%- elif line == 'exec-timeout ' + vty["exec-timeout"] %}
        exec-timeout {{ vty["exec-timeout"] }}
      {%- endif %}
    {% endfor %}
  {% endif %}

  {% if not repeated and in_block %}
    {%- break %}
  {% endif %}
{% endfor %}